:host ::ng-deep {
    .caption-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
    .flex-item {
        flex: 1;
        max-width: 100%;
        padding: 0 0.5rem;
    }
    .search-container {
        flex: 1;
        max-width: 100%;
        position: relative; 
        padding: 0 0.5rem;
    }
    .pi-search {
        position: absolute;
        left: 10px;
        color: grey;
    }
    input {
        width: 100%;
        padding-left: 2rem; 
    }
    .p-multiselect .p-multiselect-label {
        font-size: 16px;
        padding: 8px 10px;
    }
    .p-multiselect {
        min-height: 40px;
        width: 100%;
    }

    .p-multiselect-header {
        .p-checkbox {
            top: 50%; 
            left: 5px;
        }

        .p-icon{
            margin-left: 1px;
        }
    }

    .p-inputtext {
        width: 189px;
        height: 35px;
        line-height: 35px;
        margin-left: 13px;
        margin-right: 3px;
        padding-left: 5px;
        margin-top: 12px;
        margin-bottom: 0px;
   }

    .p-multiselect-items .p-multiselect-item {
        font-size: 14px; 
        padding: 7px 0px 3px 6px;
    }

    .p-multiselect-panel{
        transform: translateX(-10%);
        padding-bottom: 3px;
    }

    .p-multiselect .p-multiselect-label {
        font-weight: bold;  
        color: #333;
    }

    .p-icon {
        margin-right: 1px;    
    }

    .p-multiselect-item {
        padding: 12px 10px;
    }

    .p-checkbox .p-checkbox-label {
        margin-left: 8px;
    }

    .p-icon.p-multiselect-filter-icon{
        display: none;
    }

    .ng-star-inserted{
        margin-left: 2px;
    }

    .pi.pi-search{
        display: none;
    }

    table th, table td {
        color: var(--text-color);
        background: var(--table-background-color);

      }

    .p-sortable-column .p-sortable-column-icon {
        color: var(--text-color);
    }

    .mat-basic {
        background-color: var(--background-color);
    }

    .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
        z-index: 1;
        color: var(--text-color);
    }

    .p-datatable .p-datatable-thead > tr > th,
    .p-datatable .p-datatable-tbody > tr > td,
    .p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-highlight {
        background-color: var(--table-background-color);
        color: var(--text-color);
        border-color: var(--border-color);
    }

    .p-datatable .p-datatable-thead > tr > th {
        background-color: var(--header-bg-color);
    }

    .p-datatable .p-datatable-tbody > tr > td {
        background-color: var(--background-color);
    }

    .p-datatable .p-datatable-tbody > tr:hover > td {
        background-color: var(--student-data-hover);
    }

    .p-datatable .p-datatable-tbody > tr.p-highlight {
        background-color: var(--details-bar-bg);
        color: var(--details-bar-text);
    }

    .p-datatable .p-datatable-tfoot > tr > td {
        background-color: var(--footer-bg-color);
    }

    .p-inputtext {
        background-color: var(--background-color);
        color: var(--text-color);
        border-color: var(--border-color);
    }

    .p-multiselect {
        background-color: var(--background-color);
        color: var(--text-color);
        border-color: var(--border-color);
    }

    .p-multiselect .p-multiselect-label {
        color: var(--text-color);
    }

    // .p-multiselect .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    //     background-color: var(--background-color);
    //     color: var(--text-color);
    // }

    // .p-multiselect .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    //     background-color: var(--btn-hover-bg-color);
    //     color: var(--details-bar-text);
    // }

    .p-datatable .p-datatable-header {
        background: var(--header-bg-color);
    }

    .p-multiselect-panel .p-multiselect-header{
        background: var(--background-color);
    }
    
}


.card {
    width: 50rem;
    border-spacing: 10px 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--table-border-color);
}

.flex{
    display: flex;
    height: 60px;
}

.p-button-outlined{
    height: 30px;
    width: 80px;
    margin-top: 24px;
    margin-left: 24px;
    border-radius: 5px;
}

input{
    height: 40px;
    width: 220px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 40px;
    margin-right: 10px;
}


.sort-column{
    width:20%;
    font-size: larger;
    padding: 10px;
}

.sort-td{
    padding: 10px;
}


@media (max-width: 600px) {

    .card {
        width: 100%; /* Adjust width to fit mobile screens */
    }

    .caption-container {
        flex-direction: column;
        align-items: stretch; /* Stretch children to fill the width */
        padding: 0.5rem 0; /* Adjust padding for better spacing */
    }

    .p-datatable-header{
        height: 100px;
    }

    .flex-item, .search-container {
        width: 100%; 
        padding: 0.25rem;
    }

    .p-multiselect {
        width: auto; /* Ensure dropdowns take full width */
    }

    input {
        width: calc(100% - 0px); /* Adjust input width to fit container */
        padding-left: 1rem; /* Smaller padding */
    }

    .sort-column, .sort-td {
        font-size: 14px; /* Smaller text in table headers and cells */
        padding: 8px; /* Smaller padding */
    }

    .p-datatable .p-datatable-header {
        height: 178px;
    }

    :host ::ng-deep {
        
        .p-datatable .p-datatable-header {
            height: 178px;
        }

        .p-multiselect-panel{
            transform: translateX(-7%);
            padding-bottom: 10px;
            width: 103%;
        }

        .p-inputtext {
            width: 92%;
            height: 35px;
            line-height: 35px;
            margin-left: 13px;
            margin-right: 3px;
            padding-left: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
       }

    }
}




@media (min-width: 1720px) {

    .card{
        width: 60rem;
    }
}