.cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap; 
  }

  .courses-button-container {
    display: flex;
    align-items: stretch; 
    justify-content: start; /* Aligns items to the start of the container */
    gap: 10px; 
}
  
  .card {
    border: 1px solid rgba(0, 0, 0, 0.852);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 200px; 
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Центрирование содержимого карты по горизонтали */
  }
    
    .card-icon {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .custom-icon-size {
      width: 50px; 
      height: 50px;
      font-size: 24px; 
    }

    .card-title {
      font-size: 20px;
      margin: 0;
    }
  
    .title {
      padding-top: 60px; 
    }
  
    .active.courses {
      padding-top: 20px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 90px;
    }

    .archieved.courses {
      padding-top: 20px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 90px;
    }

  .courses-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-top: 40px; 
    }

    .courses-button:focus {
        outline: none; /* Removes outline on focus for aesthetic purposes */
    }

    .button-icon {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }

  
  .title {
    margin-right: 10px; 
  }
  
  .courses {
    display: flex; 
    align-items: center; 
  }
  
  
    /* For mobile devices */
    @media (max-width: 575px) {
      .cards {
        align-items: center;
        gap: 20px; 
      }
      .card {
        width: 100%; 
       
      }

      .active.courses{
        justify-content: center;
      }

      .archieved.courses{
        justify-content: center;
      }
    }
    
    /* For tablets and small desktops, you can keep the original flex-row layout or make any adjustments as needed */
    @media (min-width: 576px) and (max-width: 991px) {
      /* Your styles for tablets and small desktops here */
    }
    
    /* For larger desktops */
    @media (min-width: 992px) {
      /* Your styles for larger desktops here */
    }
    
    @media (min-width: 1400px) {
      /* Your styles for very large screens here */
    }
    