:host ::ng-deep {
  .p-skeleton{
    background: var(--btn-hover-bg-color);
  }

  .mat-icon{
    color: var(--text-color);
  }
}
.skeleton {
  width: 500px;
  height: 200px;
}

  .courses-button-container {
    display: flex;
    align-items: stretch; 
    justify-content: start;
    gap: 10px; 
  }

  
    .title {
      padding-top: 60px; 
    }
  
    .active.courses {
      padding-top: 20px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 90px;
    }

    .archieved.courses {
      padding-top: 20px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 90px;
    }

  .courses-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-top: 40px; 
    }

    .courses-button:focus {
        outline: none; /* Removes outline on focus for aesthetic purposes */
    }

    .button-icon {
        width: 35px;
        height: 35px;
        font-size: 34px;
    }

  
  .title {
    margin-right: 10px; 
  }
  
  .courses {
    display: flex; 
    align-items: center; 
  }
  
  
    @media (max-width: 575px) {
      .cards {
        align-items: center;
        gap: 20px; 
      }
      .card {
        width: 100%; 
      }

      .courses-button-container {
        justify-content: center;
      }

      .active.courses{
        justify-content: center;
      }

      .archieved.courses{
        justify-content: center;
      }
    }
    
    @media (min-width: 576px) and (max-width: 991px) {
      .cards{
        justify-content: center;
      }

      .courses-button-container {
        justify-content: center;
      }
      
      .archieved.courses{
        justify-content: center;
      }
      
      .active.courses{
        justify-content: center;
      }
      .card{
        width: 80%;
      }
    }
    
    /* For larger desktops */
    @media (min-width: 992px) and (max-width: 1399px) {
      .cards{
        justify-content: center;
        flex-wrap: nowrap;
      }

      .courses-button-container {
        justify-content: center;
      }
      
      .archieved.courses{
        justify-content: center;
      }
      
      .active.courses{
        justify-content: center;
      }
    }
    
    @media (min-width: 1400px) {

    }

    @media (max-width: 575px) {
      .cards {
        display: none; 
      }

    }
    