<main id="main" class="main">
    <section class="section">
        <div class="container">
            <app-summary-cards
             [coursesLength]="courses.length"
             [totalSubmissions]="totalSubmissions"
             [totalGroups]="totalGroups"
              ></app-summary-cards>
            <div class="courses-button-container">
                @if(loading || courses.length <= 0){
                    <h1 class="title">No Available Courses</h1>
                }
                @if(courses.length > 0){
                    <h1 class="title">Available Courses</h1>
                }
                <button class="courses-button" (click)="openNewCourseDialog()">
                  <mat-icon class="button-icon">add_circle_outline</mat-icon>
                </button>
            </div>     
            <div class="active courses">
             @if(loading)   {
                <div class="skeleton"><p-skeleton width="100%" height="100%" ></p-skeleton></div>
             }@else {
                @for (course of courses; track $index) {
                    <app-course-card
                    [title]="course.attributes.title"
                    [id]="course.id"
                    [problemsets]="course.relationships.problemsets.data.length"
                    [groups]="course.relationships.groups.data.length"
                    >
                    </app-course-card>
                }
             }
            </div> 
            @if (archivedCourses.length > 0) {
                <div class="courses-button-container">
                    <h1 class="title">Archived  Courses</h1>
                </div>   
                <div class="archieved courses">
                    @for (course of archivedCourses; track $index) {
                        <app-problemset-card
                        [title]="course.attributes.title"
                        [id]="course.id"
                        ></app-problemset-card>
                    }
                </div> 
            }
        </div>
    </section>
</main>