:host ::ng-deep {
    .p-skeleton{
      background: var(--btn-hover-bg-color);
    }
}

.head {
    padding: 20px 0 0;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin-bottom: 50px;
}

.main-title {
    color: #000000; 
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.main-title.success {
    color: #a3d985; 
}

.main-title.danger {
    color: #dc3545; 
}

.main-title.warning {
    color: #f87c3c; 
}

.main-title.info {
    color: #17a2b8; 
}

.single-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
}

.single-progress-percent {
    color: #F87C3C;
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
}

.single-progress-divide {
    color: #040404; 
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
    padding-top: 20px;
}

.single-progress-divide.success {
    color: #a3d985;
}

.single-progress-divide.danger {
    color: #dc3545;
}

.single-progress-divide.warning {
    color: #f87c3c;
}

.single-progress-divide.info {
    color: #17a2b8;
}

.single-task-bar {
    border-radius: 13px;
    padding: 8px 31px;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.single-task-bar.success {
    background:  #a3d985;;
}

.single-task-bar.danger {
    background: #dc3545; 
}

.single-task-bar.warning {
    background: #f87c3c;
}

.single-task-bar.info {
    background: #17a2b8;
}

.submissions {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
}

.title-skeleton{
    width: 100px;
    height: 40px;
    text-align: center;
}


.skeleton {
    width: 500px;
    height: 200px;
}


@media (max-width: 576px) {
    .main-title {
        font-size: 24px;
    }

    .single-progress-percent {
        font-size: 24px;
    }

    .single-progress-divide {
        font-size: 16px;
    }

    .single-task-bar {
        border-radius: 13px;
        background: #F87C3C;
        padding: 8px 31px;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
    }

    .skeleton {
        width: 350px;
    }
}

@media (max-width: 1200px) {
    .submissions {
        justify-content: center;
    }
}

@media (min-width: 1201px) and (max-width: 1899px) {
    
    .head {
        width: 65rem;
    }

    .submissions {
        max-width: 1850px;
    }

}

@media (min-width: 1900px) {
    
    .head {
        width: 99rem;
    }


    .submissions {
        max-width: 1850px;
    }
}


@media (min-width: 1901px) {
   
    .submissions {
        max-width: 1900px;
    }
}



@media (min-width: 1400px) and (max-width: 1450px) {
    .section {
      padding-left: 200px;
    }
  }
  
  @media (min-width: 1451px) and (max-width: 1500px) {
    .section {
      padding-left: 250px;
    }
  }
  
  @media (min-width: 1501px) and (max-width: 1700px) {
    .section {
      padding-left: 300px;
    }
  }
  
  @media (min-width: 1701px) and (max-width: 1800px) {
    .section {
      padding-left: 350px;
    }
  }

  @media (min-width: 1801px) and (max-width: 1899px) {
    .section {
      padding-left: 400px;
    }
  }

  @media (min-width: 1900px) and (max-width: 2150px) {
    .section {
      padding-left: 100px;
    }
  }


