<main id="main" class="main">
    <section class="section">
        <div class="container">
            <div class="head">
                @if (problemset && submissions) {
                    <h2 class="main-title {{submissions[0].completeStatus.keys().next().value }} ">{{problemset.attributes.title}}</h2>
                }@else {
                    <h2 class="main-title">loading..</h2>
                }
                <div class="single-progress">
                    @if (problemset && submissions) {
                        <span class="single-progress-divide {{submissions[0].completeStatus.keys().next().value }} ">{{submissions[0].attributes.score}}/{{problemset.attributes['max-score']}}</span>
                    }@else{
                        <span class="single-progress-divide">...</span>
                    }
                </div>
                @if(submissions){
                    <div class="single-task-bar {{submissions[0].completeStatus.keys().next().value }}">
                        {{submissions.length}} submissions
                    </div>
                }@else{
                <div class="single-task-bar warning">
                        loading submissions
                </div>
                }
            </div>
            <div class="submissions">
                @if(submissions){
                    @for (submission of submissions; track $index) {
                        <app-submission-detail-card 
                            [id]="submission.id"
                            [title]="problemset.attributes.title"
                            [lastSubmitDate]="submission.attributes['date-evaluated']"
                            [lastEvaluation]="submission.attributes.score"
                            [maxProblemsetScore]="problemset.attributes['max-score']"
                            [completeStatus]="submission.completeStatus"
                            >
                        </app-submission-detail-card>
                    }

                }
            </div>
        </div>
    </section>
</main>