<main id="main" class="main">
    <section class="section">
      <div class="container">
        <h2 class="main-title">TOP SECRET</h2>
        <div class="single-progress">
          <span class="single-progress-percent">30%</span>
          <span class="single-progress-divide">30/100</span>
        </div>
        <div class="single-task-bar">
          2 submissions
        </div>
        <div class="submissions">
          <div class="submission" [routerLink]="['/problemset-detail']">
            <div class="submission-data">
              <div class="submission-top">
                <div class="submission-stats">
                  <h3 class="submission-heading warning">TOP SECRET</h3>
                  <p class="submission-subtext">10 submissions</p>
                </div>
                <div class="submission-stats">
                  <h3 class="submission-heading warning">30%</h3>
                  <p class="submission-rating">30/100</p>
                </div>
              </div>
              <p class="submission-date">March. 1, 2022, 15:02</p>
            </div>
            <p class="submission-status warning-bg">Task Complete</p>
          </div>
          <div class="submission">
            <div class="submission-data">
              <div class="submission-top">
                <div class="submission-stats">
                  <h3 class="submission-heading danger">PROBLEMS TO SOLVE</h3>
                  <p class="submission-subtext">10 submissions</p>
                </div>
                <div class="submission-stats">
                  <h3 class="submission-heading danger">0%</h3>
                  <p class="submission-rating">0/100</p>
                </div>
              </div>
              <p class="submission-date">March. 1, 2022, 18:02</p>
            </div>
            <p class="submission-status danger-bg">Compilation Error</p>
          </div>
        </div>
      </div>
    </section>
  </main>