
<div class="card">
    <p-table 
    #dt1
    [value]="students"
    [scrollable]="true"
    scrollHeight="700px"
    [globalFilterFields]="['groupName', 'data.attributes.username', 'fullName', 'problemSet.title']"
    >
        <ng-template pTemplate="caption">
            <div class="flex" style="">
                <a></a>
                <span class="p-input-icon-left ml-auto" style="display: flex; align-items: center;">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="groupName" style="width:20%; font-size: larger; padding: 10px;">Group <p-sortIcon field="groupName"></p-sortIcon></th>
                <th pSortableColumn="data.attributes.username" style="width:20%; font-size: larger; padding: 10px;">Username <p-sortIcon field="data.attributes.username"></p-sortIcon></th>
                <th pSortableColumn="fullName" style="width:20%; font-size: larger; padding: 10px;">Full name<p-sortIcon field="fullName"></p-sortIcon></th>
                <th pSortableColumn="problemSet.title" style="width:20%; font-size: larger; padding: 10px;">Problemset <p-sortIcon field="problemSet.title"></p-sortIcon></th>
                <th pSortableColumn="problemSet.score" style="width:20%; font-size: larger; padding: 10px;">Evaluation <p-sortIcon field="problemSet.score"></p-sortIcon></th>
                <th style="width: 5rem"></th></tr>

        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr>
                <td style="padding: 10px;">{{student.groupName}}</td>
                <td style="padding: 10px;">{{student.data.attributes.username}}</td>
                <td style="padding: 10px;">{{student.fullName}}</td>
                <td style="padding: 10px;">{{student.problemSet.title}}</td>
                <td style="padding: 10px;">{{student.problemSet.score}}</td>
                <td>
                    <button  mat-stroked-button color="basic" [routerLink]="['/submission/',student.problemSet.id]">Check</button>
                </td>
             </tr>
        </ng-template>
    </p-table>
</div>
