.status-header {
  display: flex;
  align-items: center;
  background: var(--background-color);
  padding: 10px;
  font-family: 'Courier New', monospace;
}

.status-header .label {
  font-weight: bold;
  margin-right: 10px;
  color: var(--text-color);
}

.label{
  font-size: 25px;
}

.status-header .buttons button {
  border: 1px solid var(--button-border-color);
  background: none;
  padding: 5px 10px;
  margin-right: 5px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.status-header .buttons button:hover {
  background-color: var(--button-hover-bg);
}

.status-header .buttons .active {
  color: var(--text-color);
  background-color: var(--button-active-bg);
}

pre {
  background: var(--pre-background);
  border: 1px solid var(--pre-border-color);
  padding: 10px;
  font-size: 20px;
  color: var(--text-color);
}

@media (max-width: 768px) {
  pre{
      font-size: 10px;
  }

  .label{
      font-size: 15px;
  }
}
