.profile {
  display: flex;
  /* justify-content: space-between; */
  gap: 150px;
}

.profile-charts {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.profile-charts img {
  width: 100%;
}

.profile-content {
  box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
  border-radius: 20px;
  margin-bottom: 70px;
  padding: 16px 20px;
  display: grid;
  grid-template-areas:
    "name img"
    "info img";
}

.profile-name {
  color: #79838b;
  font-family: Anaheim;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 20px;
  grid-area: name;
}

.profile-info {
  grid-area: info;
}

.profile-label {
  color: #98bbd7;
  font-family: Anaheim;
  font-size: 19px;
  text-transform: capitalize;
}

.profile-text-value {
  color: #79838b;
  font-family: Anaheim;
  font-size: 18px;
  text-transform: capitalize;
}

.profile-dougnuts {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.chart-label {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.bar {
  display: block !important;
  height: 400px;
}

/* cases */

.cases {
  display: grid;
  grid-template: repeat(2, 230px) / repeat(2, 230px);
  gap: 50px;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px;
  border-radius: 20px;
  border: 1px solid #b6b6b6;
}

.case-value {
  color: #666262;
  font-family: Inter;
  font-size: 60px;
  font-weight: 500;
  padding-top: 20px;
}

.case-value.success {
  color: #4a960e;
}

.case-value.process {
  color: #f87c3c;
}

.case-value.failure {
  color: #e0544c;
}

.case-label {
  padding-top: 25px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 576px) {
  .cases {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .case {
    padding: 35px;
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 768px) {
  .profile-content {
    text-align: center;
    grid-template-areas:
      "name"
      "img"
      "info";
  }

  .cases {
    grid-template: repeat(2, 180px) / repeat(2, 180px);
    gap: 25px;
  }

  .bar {
    height: 250px;
  }
}

@media (max-width: 992px) {
  .profile-dougnuts {
    width: 300px;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .profile-charts {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
