<main id="main" class="main">
  <section class="section">
    <div class="container">
      <div class="profile">
        <div>
          <div class="profile-content">
            @if (user && user.fullName) {
              <p class="profile-name">{{user.fullName}}</p>
            }@else { <p-skeleton width="15rem" height="1.5rem" styleClass="mb-2" ></p-skeleton>}
            <div class="profile-info">
              <p class="profile-label">
                Type <span class="profile-text-value">Student</span>
              </p>
              <p class="profile-label">
                Joined <span class="profile-text-value">Sep 2021</span>
              </p>
              <p class="profile-label">
                username
                @if (user && user.data.attributes.username) {
                  <span class="profile-text-value">{{user.data.attributes.username}}</span>
                }@else{
                  <p-skeleton width="5rem" height="1rem" styleClass="mb-2" ></p-skeleton>
                }
              </p>
            </div>
          </div>
        
          <div class="cases">
            <div class="case">
              @if (user && user.problemsetsLength) {
              <p class="case-value">{{user.problemsetsLength}}</p>
              <p class="case-label">Problemsets gone</p>
              }@else {<p-skeleton width="5rem" height="1rem" styleClass="mb-2"></p-skeleton>}
            </div>
            <div class="case">
              @if (user && user.submissionsLength) {
                <p class="case-value">{{user.submissionsLength}}</p>
                <p class="case-label">Submissions</p>
              }@else {<p-skeleton width="5rem" height="1rem" styleClass="mb-2"></p-skeleton>}
            </div>
            <div class="case">
              @if (user && user.rate) {
                <p class="case-value success">{{user.rate}}%</p>
                <p class="case-label">Success rate</p>
              }@else {<p-skeleton width="5rem" height="1rem" styleClass="mb-2"></p-skeleton>}
            </div>
            <div class="case">
              @if (user && user.totalScore) {
                <p class="case-value">{{user.totalScore}}</p>
                <p class="case-label">Summary points</p>
              }@else {<p-skeleton width="5rem" height="1rem" styleClass="mb-2"></p-skeleton>}
            </div>
          </div>
        </div>
        <div class="profile-charts">
          <div class="profile-dougnuts">
            <p-chart
              class="profile-chart"
              type="doughnut"
              [data]="leftDoughnutData"
              [options]="doughnutOptions"
              [plugins]="doughnutPlugins"
            ></p-chart>
            <p-chart
              class="profile-chart"
              type="doughnut"
              [data]="rightDoughnutData"
              [options]="doughnutOptions"
              [plugins]="doughnutPlugins"
            ></p-chart>
          </div>
          <div style="align-self: stretch; position: relative">
            <h5 class="chart-label">Last 7 Submissions</h5>
            <p-chart
              type="bar"
              class="bar"
              [data]="barData"
              [options]="barOptions"
              [plugins]="barPlugins"
              width="100%"
              height="100%"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
