<form [formGroup]="form" (ngSubmit)="saveProblemset()" class="problemset-form">
    <h1 mat-dialog-title>Add Problemset</h1>
    <div mat-dialog-content>
        
      <mat-form-field appearance="fill">
        <mat-label>Problemset identifier:</mat-label>
        <input matInput formControlName="indentifier">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Maximum Score</mat-label>
        <input matInput type="number" formControlName="maxScore">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Maximum number of evaluations (per student):</mat-label>
        <input matInput type="number" formControlName="maxNumberOfEvaluation">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Minutes between evaluation rounds</mat-label>
        <input matInput type="number" formControlName="minutesBetweenEvalRounds">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Revision number of the tests:</mat-label>
        <input matInput type="number" formControlName="revisionNumberOfTheTests">
      </mat-form-field>
      <div class="calendar-container">
        <div class="calendar-item">
          <mat-label>Start Date*</mat-label>
          <div class="card flex flex-wrap gap-3 p-fluid">
            <div class="flex-auto">
              <p-calendar formControlName="startTime" [showTime]="true" [showSeconds]="true" [showIcon]="true" inputId="buttondisplay" [showWeek]="true"></p-calendar>
              @if(form.get('startTime')?.invalid && (form.get('startTime')?.touched || form.get('startTime')?.dirty)){
                <small>Start time is required.</small>
              }
            </div>
          </div>
        </div>
        <div class="calendar-item">
          <mat-label>End Date*</mat-label>
          <div class="card flex flex-wrap gap-3 p-fluid">
            <div class="flex-auto">
              <p-calendar formControlName="endTime" [showTime]="true" [showSeconds]="true" [showIcon]="true" inputId="buttondisplay"></p-calendar>
              @if(form.get('endTime')?.invalid && (form.get('endTime')?.touched || form.get('endTime')?.dirty)){
                <small>End time is required.</small>
              }
            </div>
          </div>
        </div>
      </div>
      
    </div>      
   
    <div mat-dialog-actions>
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button (click)="closeDialog()" color="accent">Close</button>
    </div>
  </form>
  