.problemset-form {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-dialog-content {
    margin-bottom: 20px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-left: 8px;
  }

  .calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; 
  }
  
  .calendar-item {
    flex: 1; 
  }
  
  .ng-invalid.ng-touched:not(form) .p-inputtext {
    border-color: red;
  }
  
  small {
    color: red;
  }