@if(!isCourse){
<div class="card" [routerLink]="['/problemsets-detail']">
    <div class="card-data">
        <div class="card-top">
            <div class="card-stats">
                <h3 class="card-heading-blue">TOP SECRET</h3>
                <div class="card-subtexts"> 
                    <p class="card-subtext">ELLEN 2024</p>
                    <p class="card-subtext-groups">8 groups</p>
                </div>
            </div>
        </div>
        <p class="card-date">31.1.21</p>
        <!-- <p class="card-date">{{created | date : 'MMM. d, y, HH:mm'}}</p> -->
    </div>
    <p class="card-status blue-bg">Detail</p>
</div>
}
@else{
    <div class="card" [routerLink]="['/problemsets-detail']">
        <div class="card-data">
            <div class="card-top">
                <div class="card-stats">
                    <h3 class="card-heading-green">TOP SECRET</h3>
                    <div class="card-subtexts"> 
                        <p class="card-subtext">32 Submissions</p>
                        <p class="card-subtext-groups">8 groups</p>
                    </div>
                </div>
            </div>
            <p class="card-date">31.1.21</p>
            <!-- <p class="card-date">{{created | date : 'MMM. d, y, HH:mm'}}</p> -->
        </div>
        <p class="card-status green-bg">Detail</p>
    </div>
}