.card {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 200px;
    cursor: pointer;
  }
  
  .card-data {
    padding: 22px 33px 0;
  }
  
  .card-top {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 30px;
  }
  
  .card-heading-green {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #8FBE48;
  }
  
  .card-heading-blue {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #4D93FD;

    &.smallest {
      font-size: 21px;
    }
    &.small {
      font-size: 23px; 
    }
    &.big {
      font-size: 30px; 
    }
  }
  
  .card-heading-grey {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #A0A0A0;
  }
  
  .card-subtexts {
    display: flex;
    justify-content: start; 
    gap: 30px; 
  }
  
  .card-subtext {
    color: #b1b1b1;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
  }
  
  .card-subtext-groups {
    color: #b1b1b1;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
  }
  
  .card-rating {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
  }
  
  .card-date {
    color: #b1b1b1;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }
  
  
  .card-status {
    border-radius: 13px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    color: #fff;
  }
  
  .card-detail-container {
    display: flex;
    align-items: center;
    padding: 1px 20px;
    border-radius: 13px;
    background: #4D93FD;
    color: #fff;
    text-align: center;
    margin-top: 5px;
  }
  
  .custom-icon-size {
    margin-left: 15px;
    width: 40px; 
    height: 40px;
    vertical-align: middle;
  }
  
  .card-status {
    margin: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  
  .blue-bg {
    background: #4D93FD;
  }
  
  .green-bg {
    background: #8FBE48;
  }
  
  .grey-bg {
    background: #A0A0A0;;
  }
  
  
  
  @media (max-width: 576px) {

    .card {
      width: 350px;
    }
  
    .card-data {
      padding: 15px 10px 0;
    }
  
    .card-heading-blue {
      font-size: 17px;
    }
  
    .card-heading-green {
      font-size: 17px;
    }
  
    .card-subtext,
    .card-subtext-groups {
      font-size: 18px; 
    }
  
    .card-date {
      font-size: 17px; 
    }
  
    .card-status.blue-bg {
      font-size: 16px; 
      padding: 5px 15px; 
      margin-top: 28px;
    }
  
    .card-status.green-bg {
      font-size: 16px;
      padding: 5px 15px;
      margin-top: 28px;

    }



  }