<main id="main" class="main">
    <section class="section">
        <div class="container">
            <div class="cards">
                <div class="card">
                    <mat-icon class="custom-icon-size" svgIcon="hat"></mat-icon>
                    <div class="card-title">2 Courses</div>
                </div>
                <div class="card">
                    <mat-icon class="custom-icon-size" svgIcon="book"></mat-icon> 
                    <div class="card-title">2 Problemsets</div>
                </div>
                <div class="card">
                    <mat-icon class="custom-icon-size" svgIcon="users"></mat-icon>
                    <div class="card-title">6 Groups</div>
                </div>
            </div>
            <h1 class="title">Active Problemsets</h1>
            <div class="problemsets">
                <app-admin-dashboard-card>
                    
                </app-admin-dashboard-card>
                
                <app-admin-dashboard-card>
                    
                </app-admin-dashboard-card>
            </div>
            <h1 class="title">Active Courses</h1>

            <div class="problemsets">
                <app-admin-dashboard-card  
                [isCourse]=true
                >
                </app-admin-dashboard-card>
            </div>

        </div>
    </section>
</main>