:host ::ng-deep {
  .p-skeleton{
    background: #DBDBDB;
  }
}

  .title {
    padding-top: 60px; 
  }

  .active-courses {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 90px;
}

.skeleton {
  width: 500px;
  height: 200px;
}

@media (max-width: 575px) {
  .cards {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .active-courses{
    justify-content: center;
    align-items: center;
  }
  .title {
    text-align: center;
  }
}
  
  @media (min-width: 576px) and (max-width: 991px) {
    .cards{
      justify-content: center;
    }

    .courses-button-container {
      justify-content: center;
    }

    
    .active-courses{
      justify-content: center;
    }
    .card{
      width: 80%;
    }

    .title {
      text-align: center;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1399px) {

    .title {
      text-align: center;
      font-size: 30px;
      margin-bottom: 40px;
    }
    .cards{
      justify-content: center;
      flex-wrap: nowrap;
    }

    .courses-button-container {
      justify-content: center;
    }
      
    .active-courses{
      justify-content: center;
    }
  }
  
  @media (min-width: 1400px) {

  }

  @media (max-width: 575px) {
    .cards {
      display: none; /* Скрывает блок .cards на устройствах с шириной экрана до 575px */
    }
  }
  