<main id="main" class="main">
    <section class="section">
        <div class="container">
            <div class="cards">
                <div class="card">
                    <div class="card-icon">🎓</div>
                    <div class="card-title">2 Courses</div>
                </div>
                <div class="card">
                    <div class="card-icon">🎓</div>
                    <div class="card-title">2 Problemsets</div>
                </div>
                <div class="card">
                    <div class="card-icon">🎓</div>
                    <div class="card-title">6 Groups</div>
                </div>
            </div>
            <h4 class="title">Active Problemsets</h4>

            <div class="problemsets">
                <app-admin-dashboard-card>
                    
                </app-admin-dashboard-card>
                
                <app-admin-dashboard-card>
                    
                </app-admin-dashboard-card>
            </div>
            <h4 class="title">Active Courses</h4>

            <div class="problemsets">
                <app-admin-dashboard-card  
                [isCourse]=true
                >
                </app-admin-dashboard-card>
            </div>

        </div>
    </section>
</main>