<div class="test {{ bgColor }}" (click)="onToggle()">
  <div class="test-header">
    <div class="test-left">
      <span>#{{ orderedNumber + 1 }}</span>
      <img
        src="assets/icons/arrow.svg"
        alt="arrow"
        [style.transform]="'rotate(' + rotationAngle + 'deg)'"
      />
      <p class="test-text">{{ submission.attributes.title }}</p>
    </div>
    <div class="test-right">
      <div class="test-progress {{ isVisible }}">
        <span class="{{ isCompetedVisible }}">{{ submission.attributes.score }} / {{submission.attributes['max-score']}} </span
        ><span>{{ assessment }}</span>
      </div>
      <button>
        @if (checkBtnVisible){<img src="assets/icons/check.svg" alt="check"/>}
        @if (closeBtnVisible){<img src="assets/icons/close.svg" alt="close"/>}
        @if (minusBtnVisible){<img src="assets/icons/minus.svg" alt="minus"/>}
      </button>
    </div>
  </div>
  <div class="test-content" [style.height]="contentHeight" (click)="$event.stopPropagation()">
    <div class="test-content-inner" #contentDiv>
        @if(submission.attributes.type === 'test:ws'){
          @if(submission?.attributes?.document?.result?.response?.warnings?.length){
            <h1 class="warings-title">Warnings</h1>
            @for (warning of this.submission.attributes.document.result.response.warnings; track $index) {
               <li class="war-error-str" >{{warning}}</li>
            }
          }
          @if (submission?.attributes?.document?.result?.response?.errors?.length) {
            @for (error of this.submission.attributes.document.result.response.errors; track $index) {
              <li class="war-error-str" >{{error}}</li>
           }
          }
          @if( submission?.attributes?.document?.result == null || ((submission?.attributes?.document?.result?.response?.errors?.length ?? 0) == 0 && (this.submission.attributes.document.result.response.warnings?.length ?? 0) == 0)){
            <h1 class="h1-ok">OK</h1>
          }
        }@else{
          @if(submission.attributes.document.description){
            <div class="testcase-description">
              <pre class="description-str">{{ submission.attributes.document.description }}</pre>
            </div>
          }
          @if(!!submission.attributes.document.duration || !!submission.attributes.document.result['return-code']){
            <div class="duration-row">
              @if(submission?.attributes?.document?.duration){
                <div class="duration">
                  <span style="color: #073051; font-weight: 700">Duration:</span> <span> {{ (submission.attributes.document.duration * 1000).toFixed(3) }} ms</span>
                </div>
              }
              @if(submission?.attributes?.document?.result?.['return-code'] !== undefined){
                <div class="return-code">
                  <span style="color: #073051; font-weight: 700;">Return code:</span><span> {{ submission.attributes.document.result['return-code'] }}</span> 
                  @if(submission?.attributes?.document?.result?.['return-code'] !== 0){
                    <span style="color: red;">
                    , EXPECTED 0
                    </span>
                  }
                </div>
              }
            </div>
          }
          @if(submission?.attributes?.document?.result?.stdout && submission.attributes.document.result.stdout.length > 0){
              <app-stdout
              [originStdout]="submission.attributes.document.result.stdout"
              [expectedStdout]="submission?.attributes?.document?.expected?.stdout"
              >
              </app-stdout>
          }
          @if(submission?.attributes?.document?.result?.stderr && submission.attributes.document.result.stderr.length > 0){
            <app-stderr
            [originStderr]="submission?.attributes?.document?.result?.stderr"
            >
            </app-stderr>
          }
        }
    </div>
  </div>
</div>
