.submission {
    display: block;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    width: 500px;
    height: 200px;
    cursor: pointer;
  }
  
  .submission-data {
    padding: 27px 30px 0;
  }
  
  .submission-top {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 30px;
  }
  
  .submission-heading {
    font-family: Inter;
    font-weight: 700;
    padding-bottom: 30px;
    &.smallest {
      font-size: 14px;
    }
    &.small {
      font-size: 20px; 
    }
    &.big {
      font-size: 30px; 
    }
  }
  
  .submission-subtext {
    color: #b1b1b1;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
  }
  
  .submission-rating {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
  }
  
  
  .submission-date {
    color: #817e7e;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
  }
  
  .submission-status {
    padding-top: 10px;
    border-radius: 13px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    color: #fff;
  }
  
  .success {
    color: var(--card-green-color);;
  }
  
  .success-bg {
    background: var(--card-green-color);;
  }
  
  .warning {
    color: var(--card-orange-color);;
  }
  
  .warning-bg {
    background: var(--card-orange-color);;
  }
  
  .danger {
    color: #e0544c;
  }
  
  .danger-bg {
    background: #e0544c;
  }
  
  @media (max-width: 576px) {
    .submission {
      width: 350px;
      height: 140px;
    }

    .submission-data {
      padding: 15px 10px 0;
    }
  
     .submission-heading {
        
      &.smallest {
        font-size: 15px;
      }
  
      &.small {
        font-size: 18px;
      }
  
      &.big {
        font-size: 20px;
      }
    }

    .submission-status{
      padding-top: 0px;
    }
  
    .submission-subtext {
      font-size: 14px;
    }
  
    .submission-date {
      font-size: 15px;
    }
  
    .submission-status {
      font-size: 16px;
      padding: 5px 15px;
    }

    .submission-top{
      margin-bottom: -13px;
    }
  }
  