.login {
    display: flex;
    gap: 80px;
}

.login-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 550px;
}

.form-title {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    padding-top: 140px;
}

.form-label {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

.form-control {
    border-radius: 5px;
    border: 1.5px solid var(--Body, #475E6B);
    padding: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.form-btn {
    padding: 18px;
    border-radius: 5px;
    width: 100%;
}

.btn-tuke {
    background-color: #6c757d; 
    color: #fff;
    padding: 18px;
    border-radius: 5px;
    width: 100%;
    border: none; 
    margin-top: 30px; 
    font-size: 23px;
}

.btn-tuke:hover {
    background-color: #5a6268; 
}


@media (max-width: 768px) {
    .login-img {
        max-width: 50%;
        margin: 0 auto;
    }


    .btn-tuke{
        margin-top: 30px;
        font-size: 15px;
    }

    .form-title{
        padding-top: 10px;
    }
}

@media (max-width: 992px) {
    .login {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }
}