<main>
    <section class="section auth">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center gap-5">
                <div class="login">
                    <div class="login-img">
                        <img src="assets/images/cube.png" class="img-fluid" alt="logo">
                    </div>
                    <form class="form">
                        <h2 class="form-title">Login</h2>
                        <!-- 
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary form-btn" [routerLink]="['/dashboard']">Log in</button> -->
                        <button type="button" class="btn btn-tuke" (click)="loginViaThirdPartyService()" > Unique sign in TUKE (KPI SSO)</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
