.test-group-info {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 30px;
  padding-right: 10px;
  margin: 50px 0 20px;
}

.test-group-total {
  display: none;
}

.test-group-total.visible {
  display: block;
}

.hidden {
  display: none;
}

.test-group-description {
  font-size: 20px; 
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--text-color);
  max-width: 100%;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.with-description {
  border-bottom: 2px solid #ddd; 
  padding-bottom: 10px; 
  margin-bottom: 20px;
}

.title{
  font-size: 25px;
}


@media (max-width: 568px) {
  .title{
    font-size: 17px;
  }

  .test-group-total span {
    font-size: 22px;
  }

  .test-group-description{
    font-size: 16px;
  }
  
}



@media (min-width: 768px) {
  .test-group-info {
    font-size: 40px;
  }
}
