<main id="main" class="main">
    <section class="section">
        <div class="container">
            <h2 class="title">Ongoing problems</h2>
            <div class="submissions problemsets">
                @if (problemsets) {
                    @for (problemset of problemsets; track $index) {
                        @if (problemset.isActive) {
                            <app-submission-card 
                            [id]="problemset.id"
                            [title]="problemset.title"
                            [totalSubmissions]="problemset.submissionsLength"
                            [lastEvaluation]="problemset.lastSubmissionScore"
                            [lastSubmitDate]="problemset.lastSubmissionDate"
                            [maxProblemsetScore]="problemset.maxSubmissionScore"
                            [completeStatus]="problemset.completeStatus"
                            [isActive]="true"
                            >
                            </app-submission-card>
                    }
                }
            }
            </div>
            <h2 class="title">Closed problems</h2>
            <div class="submissions">
                @if (problemsets) {
                    @for (problemset of problemsets; track $index) {
                        @if (!problemset.isActive) {
                            <app-submission-card 
                            [id]="problemset.id"
                            [title]="problemset.title"
                            [totalSubmissions]="problemset.submissionsLength"
                            [lastEvaluation]="problemset.lastSubmissionScore"
                            [lastSubmitDate]="problemset.lastSubmissionDate"
                            [maxProblemsetScore]="problemset.maxSubmissionScore"
                            [completeStatus]="problemset.completeStatus"
                            [isActive]="false"
                            >
                            </app-submission-card>
                        }
                    }
            }
            </div>
        </div>
    </section>
</main>