<main id="main" class="main">
  <section class="section">
    <div class="container">
      <div class="details-head">
        @if (problemsetData) {
        <h2 class="main-title">{{problemsetData.attributes.title | uppercase}}</h2>
        }@else { <h2 class="main-title">Loading..</h2>}
        <div class="single-progress">
          @if (submissionData && problemsetData) {
            <span class="single-progress-divide">{{submissionData.attributes.score.toFixed(1)}}/{{problemsetData.attributes['max-score']}}</span>
          }@else {<span class="single-progress-divide">..</span>}
        </div>
      </div>
      <div class="details-info">
        <div class="details-bar">SUBMISSION SUMMARY</div>
        <div class="details-frame">
          <ul class="details-list">
            <li class="detail-list-item">
              <p>Author</p>
              @if (user) {
                <span class="user">{{user.attributes['first-name']}} {{user.attributes['last-name']}}</span>
              }
            </li>
            <li class="detail-list-item">
              <p>Submission ID</p>
              <span>{{submissionId}}</span>
            </li>
            <!-- <li class="detail-list-item">
              <p>Submited on</p>
              <span>Dec. 3, 2022, 15:24</span>
            </li> -->
            <li class="detail-list-item">
              <p>Evaluated on</p>
              @if (submissionData) {
              <span>{{submissionData.attributes['date-evaluated'] | date : 'MMM. d, y, HH:mm'}}</span>
              }
            </li>
            <li class="detail-list-item">
              <p>Summary score</p>
              @if (submissionData && problemsetData) {
                <span><b>{{submissionData.attributes.score.toFixed(1)}}</b> out of {{problemsetData.attributes['max-score']}} <b>
                  ({{(submissionData.attributes.score.toFixed(1)/problemsetData.attributes['max-score']) * 100}}%)</b></span>
              }
            </li>
          </ul>

          <ul class="details-tools">
            <li class="tools-item">
              <a href="#">Repository</a>
            </li>
            <li class="tools-item">
              <a href="#">Revision</a>
            </li>
            <li class="tools-item">
              <a href="#">
                <img src="assets/icons/files.svg" alt="files" />
                SSH
              </a>
            </li>
            <li (click)="routeToSubmissionList()" class="tools-item">
              <a>
                <img src="assets/icons/list.svg" alt="list" />
                SUBMISSION LIST
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="chart-wrapper">
        <p-chart
          class="detail-chart"
          type="bar"
          [data]="barData"
          [options]="barOptions"
          [plugins]="barPlugins"
          width="100%"
          height="100%"
        ></p-chart>
      </div>
      <h4 class="details-heading">TEST CASES</h4>
      @if(structureChecks){  
        @for (structure of structureChecks; track $index) {
          <app-test-case
          [orderedNumber]="$index"
          [submission]="structure"
          ></app-test-case>
        }
      }
      @if(suitesArray){
        <ng-container>
          @for (group of suitesArray; track $index) {
            <app-test-group
            [title]="group.title"
            [totalCompleted]="group.score"
            [totalAssessment]="group.maxScore"
          >
            <div ul-content>
              @for (submission of group.submissions; track $index) {
                <ng-container>
                  <app-test-case
                    [orderedNumber]="$index + 1"
                    [submission]="submission"
                  ></app-test-case>
                </ng-container>
              }
            </div>
          </app-test-group>
        }
      </ng-container>
    }
       
      
    </div>
  </section>
</main>