<main id="main" class="main">
  <section class="section">
    <div class="container">
      <div class="details-head">
        @if (problemsetData) {
        <h2 class="main-title">{{problemsetData.attributes.title | uppercase}}</h2>
        }@else { <h2 class="main-title">Loading..</h2>}
        <div class="single-progress">
          @if (submissionData && problemsetData) {
            <span class="single-progress-divide">{{submissionData.attributes.score.toFixed(1)}}/{{problemsetData.attributes['max-score']}}</span>
          }@else {<span class="single-progress-divide">..</span>}
        </div>
      </div>
      <div class="details-info">
        <div class="details-bar">SUBMISSION SUMMARY</div>
        <div class="details-frame">
          <ul class="details-list">
            <li class="detail-list-item">
              <p>Author</p>
              @if (user) {
                <span class="user">{{user.attributes['first-name']}} {{user.attributes['last-name']}}</span>
              }
            </li>
            <li class="detail-list-item">
              <p>Submission ID</p>
              <span>{{submissionId}}</span>
            </li>
            <!-- <li class="detail-list-item">
              <p>Submited on</p>
              <span>Dec. 3, 2022, 15:24</span>
            </li> -->
            <li class="detail-list-item">
              <p>Evaluated on</p>
              @if (submissionData) {
              <span>{{submissionData.attributes['date-evaluated'] | date : 'MMM. d, y, HH:mm'}}</span>
              }
            </li>
            <li class="detail-list-item">
              <p>Summary score</p>
              @if (submissionData && problemsetData) {
                <span><b>{{submissionData.attributes.score.toFixed(1)}}</b> out of {{problemsetData.attributes['max-score']}} <b>
                  ({{(submissionData.attributes.score.toFixed(1)/problemsetData.attributes['max-score']) * 100}}%)</b></span>
              }
            </li>
          </ul>

          <ul class="details-tools">
            <li class="tools-item">
              <a href="#">Repository</a>
            </li>
            <li class="tools-item">
              <a href="#">Revision</a>
            </li>
            <li class="tools-item">
              <a href="#">
                <img src="assets/icons/files.svg" alt="files" />
                SSH
              </a>
            </li>
            <li (click)="routeToSubmissionList()" class="tools-item">
              <a>
                <img src="assets/icons/list.svg" alt="list" />
                SUBMISSION LIST
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="chart-wrapper">
        <p-chart
          class="detail-chart"
          type="bar"
          [data]="barData"
          [options]="barOptions"
          [plugins]="barPlugins"
          width="100%"
          height="100%"
        ></p-chart>
      </div>

      <h4 class="details-heading">TEST CASES</h4>
      <app-test-group
        [title]="testCaseData[0].title"
        [totalCompleted]="testCaseData[0].totalCompleted"
        [totalAssessment]="testCaseData[0].totalAssessment"
      >
        <div ul-content>
          <app-test-case
            [orderedNumber]="testCaseData[0].cases[0].orderedNumber"
            [isProcessing]="testCaseData[0].cases[0].isProcessing"
            [text]="testCaseData[0].cases[0].text"
            [completed]="testCaseData[0].cases[0].completed"
            [assessment]="testCaseData[0].cases[0].assessment"
            [isError]="testCaseData[0].cases[0].isError"
          ></app-test-case>
          <app-test-case
            [orderedNumber]="testCaseData[0].cases[1].orderedNumber"
            [isProcessing]="testCaseData[0].cases[1].isProcessing"
            [text]="testCaseData[0].cases[1].text"
            [completed]="testCaseData[0].cases[1].completed"
            [assessment]="testCaseData[0].cases[1].assessment"
            [isError]="testCaseData[0].cases[1].isError"
          ></app-test-case>
          <app-test-case
            [orderedNumber]="testCaseData[0].cases[2].orderedNumber"
            [isProcessing]="testCaseData[0].cases[2].isProcessing"
            [text]="testCaseData[0].cases[2].text"
            [completed]="testCaseData[0].cases[2].completed"
            [assessment]="testCaseData[0].cases[2].assessment"
            [isError]="testCaseData[0].cases[2].isError"
          ></app-test-case>
          <app-test-case
            [orderedNumber]="testCaseData[0].cases[3].orderedNumber"
            [isProcessing]="testCaseData[0].cases[3].isProcessing"
            [text]="testCaseData[0].cases[3].text"
            [completed]="testCaseData[0].cases[3].completed"
            [assessment]="testCaseData[0].cases[3].assessment"
            [isError]="testCaseData[0].cases[3].isError"
          ></app-test-case>
        </div>
      </app-test-group>
      <app-test-group
        [title]="testCaseData[1].title"
        [totalCompleted]="testCaseData[1].totalCompleted"
        [totalAssessment]="testCaseData[1].totalAssessment"
      >
        <div ul-content>
          <app-test-case
            [orderedNumber]="testCaseData[1].cases[0].orderedNumber"
            [isProcessing]="testCaseData[1].cases[0].isProcessing"
            [text]="testCaseData[1].cases[0].text"
            [completed]="testCaseData[1].cases[0].completed"
            [assessment]="testCaseData[1].cases[0].assessment"
            [isError]="testCaseData[1].cases[0].isError"
          ></app-test-case>
          <app-test-case
            [orderedNumber]="testCaseData[1].cases[1].orderedNumber"
            [isProcessing]="testCaseData[1].cases[1].isProcessing"
            [text]="testCaseData[1].cases[1].text"
            [completed]="testCaseData[1].cases[1].completed"
            [assessment]="testCaseData[1].cases[1].assessment"
            [isError]="testCaseData[1].cases[1].isError"
          ></app-test-case>
          <app-test-case
            [orderedNumber]="testCaseData[1].cases[2].orderedNumber"
            [isProcessing]="testCaseData[1].cases[2].isProcessing"
            [text]="testCaseData[1].cases[2].text"
            [completed]="testCaseData[1].cases[2].completed"
            [assessment]="testCaseData[1].cases[2].assessment"
            [isError]="testCaseData[1].cases[2].isError"
          ></app-test-case>
        </div>
      </app-test-group>
    </div>
  </section>
</main>
