.details-head {
  padding: 20px 0 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 19px;
}

.main-title {
  color: #4d93fd;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.single-progress {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.single-progress-percent {
  color: #f87c3c;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
}

.single-progress-divide {
  color: #4d93fd;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.details-info {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 95px;
}

.details-bar {
  border-radius: 20px;
  background: #4d93fd;
  color: #fff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 16px 23px;
}

.details-frame {
  padding: 30px 35px;
}

.details-heading {
  color: #060606;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 13px 0 50px;
  text-align: center;
}

.details-list {
  padding-bottom: 40px;
  border-bottom: 1px solid #c3c2c2;
}

.detail-list-item {
  display: flex;
  gap: 15px;
  margin-bottom: 8px;
}

.detail-list-item p {
  width: 170px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detail-list-item span {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.detail-list-item .user {
  color: #8FBE48;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details-tools {
  padding: 43px 0 17px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.tools-item {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tools-item a {
  transition: 0.3s;
}

.tools-item a:hover {
  color: #3e77aa;
}

.details-case {
  display: flex;
  justify-content: space-between;
  color: #5e5e5e;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #aeaeae;
  padding: 15px 20px;
  width: 720px;
}

.details-case-main {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80%;
}

.details-imgs {
  display: flex;
  gap: 3px;
}

.chart-wrapper {
  padding: 0 40px;
}

.detail-chart {
  display: block !important;
  height: 400px;
}

@media (max-width: 576px) {
  .details-head {
    padding: 20px 0 20px;
  }

  .main-title {
    font-size: 24px;
  }

  .single-progress-percent {
    font-size: 24px;
  }

  .single-progress-divide {
    font-size: 16px;
  }

  .details-bar {
    text-align: center;
    font-size: 20px;
    padding: 10px 14px 10px;
    margin-bottom: 30px;
  }

  .details-frame {
    padding: 0 10px;
  }

  .detail-list-item p {
    text-align: left;
    font-size: 14px;
  }

  .detail-list-item span {
    text-align: left;
    font-size: 14px;
  }

  .details-tools {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .details-case p {
    display: block;
    font-size: 14px;
  }

  .details-case img {
    display: none;
  }
}

@media (max-width: 768px) {
  .detail-list-item p {
    width: 45%;
  }

  .detail-list-item span {
    width: 45%;
  }

  .details-tools {
    padding: 10px 0 25px;
    gap: 25px;
  }

  .tools-item {
    font-size: 17px;
  }

  .detail-chart {
    height: 200px;
  }

  .chart-wrapper {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .details-case {
    font-size: 13px;
    width: 100%;
  }

  .details-case-main {
    width: 100%;
  }
}


@media (min-width: 1640px) {
  .section {
    padding-left: 130px;
  }

  .mg-left {
    margin-left: 0;
  }
}


@media (min-width: 1700px) {
  .container {
    max-width: 1510px;
  }
}

@media (min-width: 2100px) {
  .container {
    max-width: 1710px;
  }
}
