@import url("reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Inter:wght@400;500&family=Roboto:wght@500;700&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.main {
  margin: 0 auto;
  margin-left: 0;
  padding: 60px 0 40px;
  transition: 0.4s ease;
}

.section {
  min-height: 100vh;
  display: flex;
  padding: 60px 0;
  overflow-y: auto;
}

.section.auth {
  padding-left: 0;
  align-items: center;
  padding: 80px 0;
}

.title {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 44px;
}

.mg-left {
  margin: 0 auto;
}

@media (min-width: 1926px) {
  .mg-left {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 40px 0;
  }

  .section {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 0;
  }

}


@media (min-width: 1640px) {
  .section {
    padding-left: 300px;
  }

  .mg-left {
    margin-left: 0;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1610px;
  }
}

.warning {
  color: #f87c3c;
}

.warning-bg {
  background: #f87c3c;
}

.danger {
  color: #e0544c;
}

.danger-bg {
  background: #e0544c;
}

.success {
  color: #a3d985;
}

.success-bg {
  background: #a3d985;
}

:root {
  --background-color: #fff;
  --text-color: #333;
  --link-color: #4d93fd;
  --progress-bar-color: #f87c3c;
  --detail-bg: #fff;
  --details-bar-bg: #4d93fd;
  --details-bar-text: #fff;
  --details-tool-hover: #3e77aa;
  --chart-bg: #ffffff;
  --progress-color-green-test-case: #8fbe48;
  --progress-color-orange-test-case: #f57b3b;
  --progress-color-grey-test-case: #aeaeae;
  --border-color: rgba(0, 0, 0, 0.25);
  --header-bg-color: #ffffff;
  --footer-bg-color: #f8f9fa;
  --test-bg-color: #aeaeae;
  --button-border-color: #ccc;
  --button-hover-bg: #e7e7e7;
  --button-active-bg: #007bff;
  --button-active-text-color: #fff;
  --pre-background: #f0f0f0;
  --pre-border-color: #ccc;
  --icon-color: #292D32;
  --sidebar-color: #fff;
  --sidebar-border-color: #bbb;
  --table-background-color: #f7f7f7;
  --btn-hover-bg-color: #5a6268;
  --btn-bg-color: #6c757d;
  --student-data-hover: #f7f7f7;
}

body.dark-theme {
  --background-color: #212121;
  --btn-bg-color: #343a40;
  --btn-hover-bg-color: #23272b;
  --student-data-hover: #23272b;
  --text-color: #f9f9f9;
  --link-color: #abd8ff;
  --progress-bar-color: #c76c34;
  --detail-bg: #424242;
  --details-bar-bg: #375a7f;
  --details-bar-text: #e0e0e0;
  --details-tool-hover: #669ecb;
  --chart-bg: #303030;
  --progress-color-green-test-case: #60852a;
  --progress-color-orange-test-case: #e3631f;
  --progress-color-grey-test-case: #424242;
  --border-color: rgba(255, 255, 255, 0.25);
  --header-bg-color: #333333;
  --footer-bg-color: #222222;
  --test-bg-color: #333333;
  --button-border-color: #555;
  --button-hover-bg: #444;
  --button-active-bg: #1a73e8;
  --button-active-text-color: #fff;
  --pre-background: #2b2b2b;
  --pre-border-color: #555;
  --icon-color: #ffffff;
  --sidebar-color: #171717;
  --sidebar-border-color: none;
  --table-background-color: #333232;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar {
  background: var(--sidebar-background);
}

a {
  color: var(--link-color);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

