@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Inter:wght@400;500&family=Roboto:wght@500;700&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

#panel-show {
  width: 25px;
  height: 30px;
  background: url('assets/icons/double_arrow.svg') center/contain no-repeat;
  transform: rotate(-180deg);
  border: none;
  margin-bottom: 10px;
  transform: rotate(180deg);
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.logo-name {
  font-size: 45px;
}

#sidebar {
  transition: left 0.3s ease;
  position: fixed;
  width: 296px;
  border-right: 1px solid #BBB;
  padding: 20px 25px;
  background: #fff;
}

.profile {
  display: flex;
  width: 100%;
  padding-left: 8px;
  justify-content: space-between;
  margin: 32px 0 70px;
}

.profile-person {
  font-size: 25px;
  font-weight: 700;
}

.list-item {
  font-size: 25px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  font-family: Inter;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.list-item.no-hover:hover {
  color: #292D32;
  background: #fff;
}

.list-item.no-hover:not(:nth-of-type(2)):hover a svg path {
  fill: #292D32;
  stroke: #292D32;
}

.list-item.no-hover:nth-of-type(2):hover a svg path {
  stroke: #292D32;
}

.list-item:last-of-type {
  margin-bottom: 0;
}

.list-item:hover {
  color: white;
  background: #292D32;
}

.list-item:not(:nth-of-type(2)):hover a svg path {
  fill: white;
  stroke: white;
}

.list-item:nth-of-type(2):hover a svg path {
  stroke: white;
}

.list-item a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tab-img {
  width: 22px;
}

/* main */

.main {
  margin: 0 auto;
  padding: 40px 0;
  transition: .3s ease;
}

.section {
  min-height: 100vh;
  display: flex;
  padding: 60px 0;
  overflow-y: auto;
  padding-left: 100px;
}

.section.auth {
  padding-left: 0;
  align-items: center;
  padding: 80px 0;
}

.dashboard-body {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.dashboard-part-img {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 50%;
}

.dashboard-part-img img {
  width: 100%;
}

.profile-content {
  box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
  border-radius: 20px;
  margin-bottom: 70px;
  padding: 16px 20px;
  display: grid;
  grid-template-areas:
        "name img"
        "info img";
}

.profile-info {
  grid-area: info;
}

.profile-name {
  color: #79838B;
  font-family: Anaheim;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 20px;
  grid-area: name;
}

.profile-img {
  grid-area: img;
  align-self: center;
}

.profile-label {
  color: #98BBD7;
  font-family: Anaheim;
  font-size: 19px;
  text-transform: capitalize;
}

.profile-text-value {
  color: #79838B;
  font-family: Anaheim;
  font-size: 18px;
  text-transform: capitalize;
}

.dashboard-title {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 44px;
}

.submissions {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1060px;
  margin-bottom: 90px;
}

.submissions.problemsets {
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  padding-bottom: 40px;
}

.submissions.problemsets .submission {
  margin-bottom: 0;
}

.submission {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 500px;
}

.submission-data {
  padding: 27px 30px 0;
}

.submission-top {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 30px;
}

.submission-heading {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
}

.submission-subtext {
  color: #B1B1B1;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.submission-rating {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
}

.submission-date {
  color: #817E7E;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}

.submission-status {
  border-radius: 13px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 30px;
  color: #fff;
}


/* bottom */

.submissions-block {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 54px;
}

.submissions-history {
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  min-height: 615px;
  width: 626px;
}

.empty {
  color: #AFAFAF;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  display: inline-block;
  margin-top: 38%;
}

.submissions-total {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0 70px;
  flex-direction: column;
}

.warning {
  color: #F87C3C;
}

.warning-bg {
  background: #F87C3C;
}

.danger {
  color: #E0544C;
}

.danger-bg {
  background: #E0544C;
}

.success {
  color: #A3D985;
}

.success-bg {
  background: #A3D985;
}

/* cases */

.cases {
  display: grid;
  grid-template: repeat(2, 230px) / repeat(2, 230px);
  gap: 50px;
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px;
  border-radius: 20px;
  border: 1px solid #B6B6B6;
}

.case-value {
  color: #666262;
  font-family: Inter;
  font-size: 60px;
  font-weight: 500;
}

.case-value.success {
  color: #4A960E;
}

.case-label {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}


.mg-left {
  margin: 0 auto;
  margin-left: 200px;
}

/* login */


.login {
  display: flex;
  gap: 80px;
}

.login-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 550px;
}

.form-title {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

.form-label {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.form-control {
  border-radius: 5px;
  border: 1.5px solid var(--Body, #475E6B);
  padding: 16px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.form-btn {
  padding: 18px;
  border-radius: 5px;
  width: 100%;
}

.main-title {
  color: #F87C3C;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.single-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.single-progress-percent {
  color: #F87C3C;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
}

.single-progress-divide {
  color: #040404;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.single-task-bar {
  border-radius: 13px;
  background: #F87C3C;
  padding: 8px 31px;
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 37px;
}

/* details */

.details-head {
  padding: 20px 0 50px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 19px;
}

.details-info {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #FFF;
  margin-bottom: 95px;
}

.details-bar {
  border-radius: 20px;
  background: #4D93FD;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 34px;
}

.details-frame {
  padding: 0 35px;
}

.details-heading {
  color: #060606;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 13px 0 23px;
}

.details-list {
  padding-bottom: 40px;
  border-bottom: 1px solid #C3C2C2;
}

.detail-list-item {
  display: flex;
  gap: 15px;
  margin-bottom: 8px;
}

.detail-list-item p {
  width: 170px;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detail-list-item span {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.detail-list-item .user {
  color: #725200;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details-tools {
  padding: 30px 0 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.tools-item {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tools-item a {
  transition: .3s;
}

.tools-item a:hover {
  color: #3E77AA;
}

.details-case {
  display: flex;
  justify-content: space-between;
  color: #5E5E5E;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #AEAEAE;
  padding: 15px 20px;
  width: 720px;
}

.details-case-main {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 80%;
}

.details-imgs {
  display: flex;
  gap: 3px;
}

.active-link svg {
  stroke: #3E91FA; /* Active color */
}

.inactive-link svg {
  stroke: #292D32; /* Default color */
}


@media (max-width: 576px) {
  .submission-data {
    padding: 15px 10px 0;
  }

  .submission-heading {
    font-size: 17px;
  }

  .submission-subtext {
    font-size: 14px;
  }

  .submission-date {
    font-size: 15px;
  }

  .submission-status {
    font-size: 16px;
    padding: 5px 15px;
  }

  .submissions-total {
    text-align: center;
    padding: 0 10px;
    height: 200px;
  }

  .details-head {
    padding: 20px 0 20px;
  }

  .main-title {
    font-size: 24px;
  }

  .single-progress-percent {
    font-size: 24px;
  }

  .single-progress-divide {
    font-size: 16px;
  }

  .details-bar {
    text-align: center;
    font-size: 20px;
    padding: 10px 14px;
  }

  .details-frame {
    padding: 0 10px;
  }

  .detail-list-item p,
  .detail-list-item span {
    text-align: left;
    font-size: 14px;
  }

  .details-tools {
    flex-direction: column;
    align-items: center;
  }

  .details-case p {
    display: block;
    font-size: 14px;
  }

  .details-case img {
    display: none;
  }

  .case {
    padding: 35px;
  }

  .single-task-bar {
    border-radius: 13px;
    background: #F87C3C;
    padding: 8px 31px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  .section {
    padding: 0;
    padding-left: 100px;
  }

  .detail-list-item p,
  .detail-list-item span {
    width: 45%;
  }

  .details-tools {
    padding: 10px 0 25px;
    gap: 25px;
  }

  .tools-item {
    font-size: 17px;
  }

  .submission {
    width: 100%;
  }

  .profile-content {
    text-align: center;
    grid-template-areas:
            "name"
            "img"
            "info";
  }

  .profile-img {
    justify-self: center;
  }

  .cases {
    grid-template: repeat(2, 180px) / repeat(2, 180px);
    gap: 25px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .cases {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .login {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .submissions-history {
    min-height: 400px;
  }

  .empty {
    margin-top: 20%;
  }

  .mg-left {
    margin: 0 auto;
  }

  .details-case {
    font-size: 13px;
    width: 100%;
  }

  .details-case-main {
    width: 100%;
  }

}

@media (max-width: 1200px) {
  .submissions-block {
    justify-content: center;
  }

  .submissions {
    justify-content: center;
  }

  .dashboard-part-img {
    max-width: 100%;
  }
}

@media (max-width: 1400px) {
  .dashboard-body {
    flex-direction: column;
    align-items: center;
  }
}
