<div class="cards">
    <div class="card">
    <mat-icon  class="custom-icon-size">computer</mat-icon>
      <div class="card-title">{{ coursesLength }} {{'Courses' | translate}}</div>
    </div>
    <div class="card">
     <mat-icon class="custom-icon-size">book</mat-icon>
      <div class="card-title">{{ totalSubmissions }} {{'Problemsets' | translate}}</div>
    </div>
    <div class="card">
        <mat-icon class="custom-icon-size">people_outline</mat-icon>
      <div class="card-title">{{ totalGroups }} {{'Groups' | translate}}</div>
    </div>
  </div>
  