<main id="main" class="main">
  <section class="section">
    <div class="container">
      <h2 class="title">Current Submissions</h2>
      <div class="submissions">
        <app-submission-card 
                [title]="submissionData.title"
                [totalSubmissions]="submissionData.totalSubmissions"
                [lastEvaluation]="submissionData.lastEvaluation"
                [lastSubmitDate]="submissionData.lastSubmitDate"
                [completeStatus]="submissionData.completeStatus">
        </app-submission-card>
        <app-submission-card 
                [title]="submissionData.title"
                [totalSubmissions]="submissionData.totalSubmissions"
                [lastEvaluation]="submissionData.lastEvaluation"
                [lastSubmitDate]="submissionData.lastSubmitDate"
                [completeStatus]="submissionData.completeStatus">
        </app-submission-card>
      </div>
      <div class="summary">
        <div class="history">
          <h2 class="title">Last Submissions</h2>
          <p class="empty">You don’t have yet</p>
        </div>
        <div class="dashboard-chart">
          <p-chart
            class="line-chart"
            type="line"
            [data]="lineData"
            [options]="lineOptions"
            width="100%"
            height="100%"
          ></p-chart>
        </div>
      </div>
    </div>
  </section>
</main>
