.submissions {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 90px;
}
.submissions > app-submission-card:only-child,
.submissions > .skeleton {
  margin-left: 0;
}

.summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 46px;
}

.dashboard-chart {
  width: 100%;
}

.history {
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  height: 100px;
  width: 100%; 
}

.empty {
  color: #afafaf;
  font-family: Inter, sans-serif; 
  font-size: 25px;
  font-weight: 700;
  display: block; 
  margin-top: 20%;
  text-align: center;
}

.sub-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
}

.row-title .row-evaluation .index{
  font-size: 20px;
}

.sub-row > div:not(:first-child) {
  margin-left: 20px;
}

.line-chart {
  display: block !important;
  height: 200px;
}

.skeleton {
  width: 500px;
  height: 200px;
}



@media (max-width: 576px) {
  .submissions {
    justify-content: center; /* Ensures items within submissions are centered */
  }

  .submissions > .skeleton {
    margin: auto; 
  }
  .title, .sub-row, .row-title, .row-evaluation, .index {
    font-size: smaller; /* Adjust the font size to ensure readability */
  }

  .empty {
    font-size: 20px; /* Adjust for smaller screens */
    margin-top: 10%; /* Reduce margin to use space efficiently */
  }

  .history, .dashboard-chart {
    width: 100%; /* Ensure they take full width on smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .history {
    padding: 20px; /* Adjust padding as needed for readability */
    height: auto; /* Allow the height to adjust based on content */
  }

  .line-chart {
    height: 200px; /* Adjust chart height for better visibility on small screens */
  }

}


@media (min-width: 576px) {
  .history {
    width: 600px;
  }

  .dashboard-chart {
    width: 80%;
  }

  .line-chart {
    height: 270px;
  }
}

@media (min-width: 992px) {
  .history {
    min-height: 615px;
  }

  .empty {
    margin-top: 38%;
  }

  .line-chart {
    height: 320px;
  }
}

@media (min-width: 1400px) {
  .summary {
    justify-content: space-between;
    gap: 20px;
  }

  .dashboard-chart {
    width: 50%;
  }
}
