.submissions {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1060px;
  margin-bottom: 90px;
}

.summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 46px;
}

.dashboard-chart {
  width: 100%;
}

.history {
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  height: 100px;
  width: 100%; 
}

.empty {
  color: #afafaf;
  font-family: Inter, sans-serif; /* Ensure consistency in font usage */
  font-size: 25px;
  font-weight: 700;
  display: block; /* Makes it a block element to center it correctly */
  margin-top: 20%;
  text-align: center;
}

.sub-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
}

.row-title .row-evaluation .index{
  font-size: 20px;
}

.sub-row > div:not(:first-child) {
  margin-left: 20px;
}

.line-chart {
  display: block !important;
  height: 200px;
}

@media (min-width: 576px) {
  .history {
    width: 600px;
  }

  .dashboard-chart {
    width: 80%;
  }

  .line-chart {
    height: 270px;
  }
}

@media (min-width: 992px) {
  .history {
    min-height: 615px;
  }

  .empty {
    margin-top: 38%;
  }

  .line-chart {
    height: 320px;
  }
}

@media (min-width: 1400px) {
  .summary {
    justify-content: space-between;
    gap: 20px;
  }

  .dashboard-chart {
    width: 50%;
  }
}
