<main id="main" class="main">
  <section class="section">
    <div class="container">
      @if(!areAllProblemsetsDisabled){
        <h2 class="title">Current Problemsets</h2>
      }@else {<h2 class="title">Your last Problemset</h2>}
      <div class="submissions">
        @if (isLoading) {
          <div class="skeleton"><p-skeleton width="100%" height="100%" ></p-skeleton></div>
        }
        @if(areAllProblemsetsDisabled && !isLoading){
          <app-submission-card 
                  [id]="disabledProblemset.id"
                  [title]="disabledProblemset.title"
                  [totalSubmissions]="disabledProblemset.submissionsLength"
                  [lastEvaluation]="disabledProblemset.lastSubmissionScore"
                  [lastSubmitDate]="disabledProblemset.lastSubmissionDate"
                  [maxProblemsetScore]="disabledProblemset.maxSubmissionScore"
                  [completeStatus]="disabledProblemset.completeStatus"
                  [isActive]="true"
                  >
                  </app-submission-card>
        }@else {
          @for (problemset of problemsets; track $index) {
              @if (problemset.isActive) {
                  <app-submission-card 
                  [id]="problemset.id"
                  [title]="problemset.title"
                  [totalSubmissions]="problemset.submissionsLength"
                  [lastEvaluation]="problemset.lastSubmissionScore"
                  [lastSubmitDate]="problemset.lastSubmissionDate"
                  [maxProblemsetScore]="problemset.maxSubmissionScore"
                  [completeStatus]="problemset.completeStatus"
                  [isActive]="true"
                  >
                  </app-submission-card>
              }   
          }
        }
      </div>
      <div class="summary">
        <div class="history">
          <h2 class="title">Last Submissions</h2>
          @if(!latestSubmissions){
            <p class="empty">You don’t have yet</p>
          }@else {
            <div class="card">
              <p-table [value]="latestSubmissions.submissionDetails" styleClass="p-datatable-striped" [tableStyle]="{'width': '100%'}">
                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width:5%; font-size: larger; padding: 10px; margin-left: 20px;"></th>
                          <th style="width:40%; font-size: larger; padding: 10px; margin-left: 20px;">Probleset</th>
                          <th style="width:40%; font-size: larger; padding: 10px;">Score</th>
                          <th style="width:40%; font-size: larger; padding: 10px;">Action</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-sub>
                      <tr>
                          <td style="padding: 10px; "></td>
                          <td style="padding: 10px; ">{{latestSubmissions.problemsetTitle}}</td>
                          <td style="padding: 10px; ">{{sub.score.toFixed(1)}}/{{latestSubmissions.maxScore}}  </td>
                          <td style="padding: 10px; "><button mat-raised-button color="primary" (click)="navigateToSubmission(sub.id)" >View</button></td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
        }
        </div>
        <div class="dashboard-chart">
          <p-chart
            class="line-chart"
            type="line"
            [data]="lineData"
            [options]="lineOptions"
            width="100%"
            height="100%"
          ></p-chart>
        </div>
      </div>
    </div>
  </section>
</main>
