.header-flex {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.title.left {
    text-align: left;
    font-size: 30px;
    margin: 0;
}

.buttons {
    display: flex;
    margin-left: 50px;
}

.btn {
    margin: 20px;
}

.btn.add, .btn.archive {
    background-color: #8FBE48;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 22px;
    width: 250px;
    height: 85px;
}

.btn.archive {
    background-color: #797979; 
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.table-container, .chart-container {
    height: 700px;
}

// .table-container {
//     width: 75%;
//     overflow-y: auto;
//     border: none !important;
// }

// .chart-container {
//     width: 35%;
// }


@media (min-width: 1801px) {

    .table-container{
        width: 54%;
        height: auto;
    }

    .chart-container{
        width: 43%;
        height: auto;
    }
}


@media (max-width: 1800px) {

    .table-container{
        width: 59%;
        height: auto;
    }
}


@media (max-width: 1700px) {

    .table-container{
        width: 62%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .header-flex {
        flex-direction: column;
    }

    .title.left, .buttons {
        width: 100%; 
        text-align: center;
    }

    .buttons {
        padding-top: 20px;
        gap: 30px;
    }

    .btn.add, .btn.archive {
        justify-content: center;
        margin: 10px 0px 17px -13px;
        font-size: 17px;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .table-container, .chart-container {
        width: 100%;
        height: auto;
    }
}

