<main id="main" class="main">
    <section class="section">
        <div class="container">
            <header>
                <div class="title center">ZAP 2024</div>
                <div class="buttons">
                    <button class="btn add">ADD PROBLEMSET</button>
                    <button class="btn archive">ARCHIVE</button>
                </div>
            </header>
            <section class="groups">
                <div class="group">
                    <h2>A1</h2>
                    <p>15 submissions</p>
                </div>
                <div class="group">
                    <h2>A2</h2>
                    <p>25 submissions</p>
                </div>
                <div class="group">
                    <h2>A3</h2>
                    <p>30 submissions</p>
                </div>
                <div class="group">
                    <h2>A4</h2>
                    <p>5 submissions</p>
                </div>
            </section>
        </div>   
    </section>
</main>