<div class="submission" [routerLink]="['/problemsets-detail']" >
    <div class="submission-data">
        <div class="submission-top">
            <div class="submission-stats">
                <h3 class="submission-heading {{completeStatus.keys().next().value }}">{{title}}</h3>
                <p class="submission-subtext">{{totalSubmissions}} submissions</p>
            </div>
            <div class="submission-stats">
                <h3 class="submission-heading {{completeStatus.keys().next().value }}">{{(lastEvaluation/100) * 100}}%</h3>
                <p class="submission-rating">{{lastEvaluation}}/100</p>
            </div>
        </div>
        <p class="submission-date">{{lastSubmitDate | date : 'MMM. d, y, HH:mm'}}</p>
    </div>
    <!-- TODO ADD STATUSES -->
    <p class="submission-status {{completeStatus.keys().next().value }}-bg">{{completeStatus.values().next().value }}</p>
</div>